@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
}

<div class="text-center">
    <h1 class="display-4"><strong>Welcome to</strong></h1>
    <h1 class="display-4"><strong>Food For Thought</strong></h1>
    <img src="https://www.timeoutabudhabi.com/cloud/timeoutabudhabi/2021/09/09/A0EcKhqo-best-dishes-abu-dhabi.jpg" alt="Title" width="1000" style="border: 5px solid rosybrown;">

  
</div>
