@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Welcome to</strong></h1>
    <h1 class="display-4"><strong>Food For Thought</strong></h1>

  
</div>
