@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<a class="nav-link text-dark" asp-area="" asp-page="/Privacy">
    
</a>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
