@page
@model FoodForThoughtWeb.Pages.Account.LoginModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Sign In!</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FoodForThoughtWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="DesignPage.css" />
</head>
<body style=" background-color: peachpuff;">
    <center>
        <h1>Please enter your login information :)</h1>
    </center>
    <form method="post">
        <div class="row m-2 text-danger" asp-validation-summary="All"> </div>
        <div class="row m-2 text-danger">
        </div>
        <div class="row m-2">
            <div class="col-2">
                <label class="form-label" asp-for="LoginUser.Email"></label>
            </div>
            <div class="col-10">
                <input type="email" class="form-control" asp-for="LoginUser.Email">
                <span class="text-danger" asp-validation-for="LoginUser.Email"></span>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-2">
                <label class="form-label" asp-for="LoginUser.Password"></label>
            </div>
            <div class="col-10">
                <input type="password" class="form-control" asp-for="LoginUser.Password">
                <span class="text-danger" asp-validation-for="LoginUser.Password"></span>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-2">
                <button style="background-color: rosybrown; border: none;" id="btnLogin" class="btn btn-primary" type="submit">Sign In</button>
            </div>
        </div>
    </form>
</body>
</html>


@*<head>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<title>Sign In</title>
	<link rel="stylesheet" href="~/FoodForThoughtWeb.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="Designpage.css" />
</head>
<body>
<form method ="post">
<div class = "row m-2 text-danger" asp-validation-summary="All"> </div>
	<div class = "col-2">
		<label class= "form-label" asp-for = "LoginUser.Email"></label>
	</div>
	<div class= "col-10">
		<input type ="email" class = "form-control" asp-for="LoginUser.Email"/>
		<span class=" text-danger" asp-validation-for="LoginUser.Email"></span>
		</div>
	</div>

<div class="row m-2">
	<div class="col-2">
			<label class="form-label" asp-for="LoginUser.Password"></label>
	</div>
	<div class="col-10">
		<input type ="password" class="form-control" asp-for = "LoginUser.Password" />
			<span class=" text-danger" asp-validation-for="LoginUser.Password"></span>
	</div>
</div>

<div class = "row m-2">
	<div class= "col-2">
		<button id="btnLogin" class="btn btn-primary">Sign In</button>
	</div>
	
</div>
</form>
</body> *@